<script type="text/javascript">
$(document).ready(function() {
    $("#debtor_edit").click(function() {
        $(".editable").each(function(index) {
            var text = $(this).text();

            $(this).html("<input type='text' class='form-control' value='" + text + "'>");
        });


        $("#debtor_cancel, #debtor_save").show();
        $("#debtor_edit").hide();
    });

    $("#debtor_cancel, #debtor_save").click(function() {
        $(".editable").each(function(index) {
            var value = $(this).children("input").val();

            $(this).html("");
            $(this).text(value);
        });

        $("#debtor_edit").show();
        $("#debtor_cancel, #debtor_save").hide();
    });
});
</script>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="icon-tasks"></i>Debtor Details
                    <p class="pull-right">
                        <button type="button" id="debtor_cancel" style="display: none;">Cancel</button>
                        <button type="button" id="debtor_save" style="display: none;">Save</button>
                        <button type="button" id="debtor_edit" style="margin-top: -15px !important;">Edit</button>
                    </p>
                </h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3">
                        <label>Name:</label>
                    </div>
                    <div class="col-sm-3">{{ debtor.firstname.strip|lower|capfirst }}&nbsp;{{ debtor.surname.strip|lower|capfirst }}</div>
                    <div class="col-sm-3">
                        <label>E-Bill:</label>
                    </div>
                    <div class="col-sm-3">{{ debtor.on_ebill }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Account Number:</label>
                    </div>
                    <div class="col-sm-3">{{ debtor.debtornum }}</div>
                    <div class="col-sm-3">
                        <label>Password:</label>
                    </div>
                    <div class="col-sm-3 editable">{{ debtor.aav }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Billing Address:</label>
                    </div>
                    <div class="col-sm-3">{{ debtor.billing_address.address_line1 }},&nbsp;{{ debtor.billing_address.address_line3 }}&nbsp;{{ debtor.billing_address.postal }}</div>
                    <div class="col-sm-3">
                        <label>Email Address:</label>
                    </div>
                    <div class="col-sm-3 editable">{{ debtor.email_address.strip }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Phone #:</label>
                    </div>
                    <div class="col-sm-3 editable">{{ debtor.phone_number.strip }}</div>
                    <div class="col-sm-3"></div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Account Balance:</label>
                    </div>
                    <div class="col-sm-3">${{ debtor.current_balance }}</div>
                    <div class="col-sm-3">
                        <label>Overdue Balance:</label>
                    </div>
                    <div class="col-sm-3">${{ debtor.overdue_balance }}</div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <label>Amount of Last Statement:</label>
                    </div>
                    <div class="col-sm-3">${{ debtor.statement_amount }}</div>
                    <div class="col-sm-3">
                        <label>Due Date:</label>
                    </div>
                    <div class="col-sm-3">{{ debtor.statement_due }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
