<form class="form-horizontal" role="form">

    <fieldset class="col-sm-12">
        <legend>Debtor Details
            <p class="pull-right">{{ debtor.company_code }}</p>
        </legend>

        <div class="form-group">
            <label class="col-sm-1 control-label">Name</label>
            <div class="col-sm-2">
                <p class="form-control-static">{{ debtor.firstname.strip|lower|capfirst }}&nbsp;{{ debtor.surname.strip|lower|capfirst }}</p>
            </div>
            <label class="col-sm-1 control-label">Debtornum</label>
            <div class="col-sm-1">
                <p class="form-control-static">{{ debtor.debtornum }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">Phone #</label>
            <div class="col-sm-2">
                <p class="form-control-static">{{ debtor.phone_number.strip }}</p>
            </div>
            <label class="col-sm-1 control-label">Email</label>
            <div class="col-sm-3">
                <p class="form-control-static">{{ debtor.email_address.strip }}</p>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-1 control-label">On E-Bill</label>
            <div class="col-sm-1">
                <p class="form-control-static">{{ debtor.on_ebill }}</p>
            </div>
        </div>
    </fieldset>
</form>
