{% extends "base.html" %}

{% block main %}

    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Customer Details</h1>
            <ul class="pull-right breadcrumb">
                <li><b>User:</b>&nbsp;test</li>
            </ul>
        </div>
    </div>

    <br/>

    <div class="container">
    {% if debtor %}
        {% include "debtor.html" %}
        {% for premise in premises %}
            {% include "premise.html" %}
        {% endfor %}

        {% include "misc.html" %}
    {% else %}
        <div class="row">
            <div class="col-lg-12"><h1>No data found.</h1></div>
        </div>
    {% endif %}
    </div>
{% endblock %}
