<div class="panel panel-default">
    <div class="panel-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
            <h3 class="panel-title"><i class="icon-tasks"></i>&nbsp;Premise #{{ forloop.counter }} - {{ premise.premnum }} {% comment %}
                <p class="pull-right">
                    <button type="button" class="save" style="display: none; margin-top: -15px !important;">Save</button>
                    <button type="button" class="cancel" style="display: none; margin-top: -15px !important;">Cancel</button>
                    <button type="button" class="edit" style="margin-top: -15px !important;">Edit</button>
                </p>{% endcomment %}
            </h3>
        </a>
    </div>

    <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse {% if forloop.counter == 1 %}in{% endif %}">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3">
                    <label>Address:</label>
                </div>
                <div class="col-sm-9">{{ premise.address.street_number }}&nbsp;{{ premise.address.street_name.strip }}&comma;&nbsp;{{ premise.address.city.strip }}&comma;&nbsp;{{ premise.address.state.strip }}&nbsp;{{ premise.address.postal.strip }}</div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label>Status:</label>
                </div>
                <div class="col-sm-3">{{ premise.status }}</div>
                <div class="col-sm-3">
                    <label>ESIID:</label>
                </div>
                <div class="col-sm-3">{{ premise.esiid|default_if_none:"" }}</div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label>Service Start Date:</label>
                </div>
                <div class="col-sm-3">{{ premise.start_date }}</div>
                <div class="col-sm-3">
                    <label>Service End Date:</label>
                </div>
                <div class="col-sm-3">{{ premise.end_date|default_if_none:"" }}</div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label>Current Offer:</label>
                </div>
                <div class="col-sm-3">{{ premise.rate.offer }}</div>
                <div class="col-sm-3">
                    <label>Price Point:</label>
                </div>
                <div class="col-sm-3">{{ premise.rate.rate }}</div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <label>Latest Reading:</label>
                </div>
                <div class="col-sm-3">{{ premise.reading.reading }}</div>
                <div class="col-sm-3">
                    <label>Read Date:</label>
                </div>
                <div class="col-sm-3">{{ premise.reading.read_date }}</div>
            </div>
        </div>
    </div>
</div>
