/* ANIMATIONS */
nav{
display:block;
}
/*BUBBLETIP: MIDDLE*/
@-moz-keyframes bubbletip {
	0% {
		opacity:0;
		-moz-transform:scale(.1);
	}
	70% {
		opacity:1;
		-moz-transform:scale(1.1);
	}
	100% {
		opacity:1;
		-moz-transform:scale(1);
	}
}
@-webkit-keyframes bubbletip {
	from {
		opacity:0;
		-webkit-transform:scale(.1);
	}
	to {
		opacity:1;
		-webkit-transform:scale(1);
	}
}
/*BUBBLETIP: MIDDLE TOP*/
@-moz-keyframes bubbletiptop {
	0% {
		opacity:0;
		-moz-transform:scale(.1);
		-moz-transform-origin:50% 0;
	}
	70% {
		opacity:1;
		-moz-transform:scale(1.1);
		-moz-transform-origin:50% 0;
	}
	100% {
		opacity:1;
		-moz-transform:scale(1);
		-moz-transform-origin:50% 0;
	}
}
@-webkit-keyframes bubbletiptop {
	from {
		opacity:0;
		-webkit-transform:scale(.1);
		-webkit-transform-origin:50% 0;
	}
	to {
		opacity:1;
		-webkit-transform:scale(1);
		-webkit-transform-origin:50% 0;
	}
}
/**/
@-moz-keyframes subNav {
	from {
		-moz-transform:scale(1);
		-moz-transform-origin:0 0;
		border-radius:0;
	}
	to {
		-moz-transform:scale(1.3);
		-moz-transform-origin: 35% 0;
		border-radius:0 0 8px 8px !important;
		z-index:99;
		margin:0 6px;
		border-left:0;
		border:1px solid #0399cd;
		
	}
}
@-webkit-keyframes subNav {
	from {
		-webkit-transform:scale(1);
		-webkit-transform-origin:0 0;
		border-radius:0;
	}
	to {
		-webkit-transform:scale(1.3);
		-webkit-transform-origin: 35% 0;
		border-radius:0 0 8px 8px !important;
		z-index:99;
		margin:0 6px;
		border-left:0;
		border:1px solid #0399cd;
		
	}
}
@-moz-keyframes fadeOut {
	from {
		opacity:1;
		display:block;
	}
	to {
		display:none;
		opacity:0;
	}
}
@-webkit-keyframes fadeOut {
	from {
		opacity:1;
		display:block;
	}
	to {
		display:none;
		opacity:0;
	}
}
@-moz-keyframes fadeOut50 {
	from {
		opacity:.5;
		display:block;
	}
	to {
		display:none;
		opacity:0;
	}
}
@-webkit-keyframes fadeOut50 {
	from {
		opacity:.5;
		display:block;
	}
	to {
		display:none;
		opacity:0;
	}
}
@-moz-keyframes fadeIn {
	from {
		display:none;
		opacity:0;
	}
	to {
		opacity:1;
		display:block;
	}
}
@-webkit-keyframes fadeIn {
	from {
		display:none;
		opacity:0;
	}
	to {
		opacity:1;
		display:block;
	}
}
@-moz-keyframes fadeIn50 {
	from {
		display:none;
		opacity:0;
	}
	to {
		opacity:.5;
		display:block;
	}
}
@-webkit-keyframes fadeIn50 {
	from {
		display:none;
		opacity:0;
	}
	to {
		opacity:.5;
		display:block;
	}
}
/*POPIN*/
@-moz-keyframes popin {
	0% {
		opacity:0;
		-moz-transform:scale(.1);
		-moz-transform-origin:50% 0;
	}
	100% {
		opacity:1;
		-moz-transform:scale(1);
		-moz-transform-origin:50% 0;
	}
}
@-webkit-keyframes popin {
	from {
		opacity:0;
		-webkit-transform:scale(.1);
		-webkit-transform-origin:50% 0;
	}
	to {
		opacity:1;
		-webkit-transform:scale(1);
		-webkit-transform-origin:50% 0;
	}
}
/**/
