@font-face {
	font-family: Ropa Sans;
	src: local("Ropa Sans"), local("RopaSans-Regular"), url(https://themes.googleusercontent.com/static/fonts/ropasans/v3/QnguTd82yEUxQZygH2gm8PY6323mHUZFJMgTvxaG2iE.eot) format("embedded-opentype"), url(https://themes.googleusercontent.com/static/fonts/ropasans/v3/QnguTd82yEUxQZygH2gm8D8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
